# Python
__pycache__/
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints/

# Data files
*.csv
*.h5
*.hdf5
*.parquet
data/*/*
!data/*/.gitkeep
datasets/

# IDE
.vscode/
.idea/

# OS
.DS_Store
